In [1]:
from src.cnpj.crawler import CrawlerCNPJ

In [2]:
crawler = CrawlerCNPJ('data/')

In [ ]:
crawler.get_data()

In [ ]:
crawler.unzip()

In [2]:
import os

In [45]:
files = os.listdir('../data')

In [14]:
files = ['F.K03200$Z.D10710.CNAECSV', 'F.K03200$Z.D10710.MUNICCSV', 'F.K03200$Z.D10710.NATJUCSV', 'F.K03200$Z.D10710.PAISCSV', 'F.K03200$Z.D10710.QUALSCSV', 'F.K03200$Z.D10710.MOTICSV',]

In [5]:
file_ids = ['CNAE', 'MUNIC', 'NATJU', 'PAIS', 'QUALS', 'MOTI']

In [12]:
file_ids

['CNAE', 'MUNIC', 'NATJU', 'PAIS', 'QUALS', 'MOTI']

In [30]:
import sys

sys.path.append('../src')

In [31]:
from util import *

In [49]:
join_path('../data', 'F.K03200$Z.D10710.CNAECSV', '*')

'../data/F.K03200$Z.D10710.CNAECSV/*'

In [9]:
spark.read.option("encoding", "ISO-8859-1").option("sep", ";").csv('../data/F.K03200$W.SIMPLES.CSV.D10911')\
.withColumn('teste', to_date("_c2", 'yyyyMMdd')).limit(5).toPandas()

        _c0 _c1       _c2       _c3 _c4       _c5       _c6       teste
0  00000006   N  20180101  20191231   N  00000000  00000000  2018-01-01
1  00000008   S  20140101  00000000   N  00000000  00000000  2014-01-01
2  00000011   S  20070701  00000000   N  00000000  00000000  2007-07-01
3  00000013   S  20090101  00000000   N  00000000  00000000  2009-01-01
4  00000015   N  20070701  20081231   N  00000000  00000000  2007-07-01

In [2]:
spark = SparkSession.builder.getOrCreate()

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date

In [18]:
data_name = 'CNAE'.lower()
cols = [f'cod_{data_name}', f'nome_{data_name}']

In [20]:
', '.join([c + ' STRING' for c in cols])

'cod_cnae STRING, nome_cnae STRING'

In [15]:
[f for n in file_ids for f in files if f.endswith(n + 'CSV')]

['F.K03200$Z.D10710.CNAECSV',
 'F.K03200$Z.D10710.MUNICCSV',
 'F.K03200$Z.D10710.NATJUCSV',
 'F.K03200$Z.D10710.PAISCSV',
 'F.K03200$Z.D10710.QUALSCSV',
 'F.K03200$Z.D10710.MOTICSV']

In [ ]:
[f for f in files if f.endswith('CSV') and re.search('(?<=\d\\.).*?(?=CSV)', f).group(0) in file_ids]